*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: $font;
  line-height: 1.4;
  font-size: 16px;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 18px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  line-height: 1.1;
  transition: .3s;
  border: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

a {
  color: #0785f2;

  &:hover {
    text-decoration: underline;
  }
}