.footer {
    background: #1d1d1d;
    padding: 2.4rem 0;

    &-inner {
        display: flex;
        justify-content: space-between;
        color: darken(#fff, 50%);

        @include media-breakpoint('lt-md') {
            flex-wrap: wrap;
            text-align: center;
        }
    }

    .copyright {
        font-size: 1.25em;

        @include media-breakpoint('lt-md') {
            font-size: 1em;
            order: 1;
            flex: 0 0 100%;
        }
    }

    .navi {
        @include media-breakpoint('lt-md') {
            order: 0;
            margin-bottom: 2rem;
            flex: 0 0 100%;
        }

        ul {
            display: flex;
            font-size: 1.2em;

            @include media-breakpoint('lt-md') {
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                font-size: 1em;
            }

            li {
                margin: 0 1rem 1rem;

                @include media-breakpoint('gt-md') {
                    margin: 0;

                    &:not(:last-of-type):after {
                        content: "|";
                        display: inline-block;
                        margin: 0 .95rem;
                    }
                }
            }
        }

        a {
            color: darken(#fff, 50%);
            transition: .3s;

            &:hover {
                color: #fff;
            }
        }
    }

    @include media-breakpoint('lt-lg') {}
}